# Question 4-5 is exactly same question.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("country_vaccination_stats.csv")

In [3]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

## Question 4-5) Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
## Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
## Please  provide the link to your code as answer to this question.

In [4]:
data.daily_vaccinations

0           NaN
1       15656.0
2       15656.0
3       11070.0
4        8776.0
         ...
1497    11105.0
1498    12318.0
1499    15148.0
1500    17371.0
1501    17063.0
Name: daily_vaccinations, Length: 1502, dtype: float64

In [5]:
data.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [9]:
df = pd.DataFrame(data)

In [20]:
def fillMissingVaccinations(df):
    countries = df["country"].unique()
    for country in countries:
        countryMask = df["country"] == country
        minVaccinations = df.loc[countryMask, "daily_vaccinations"].dropna().min()
        if pd.isna(minVaccinations):
            minVaccinations = 0  
        df.loc[countryMask, "daily_vaccinations"] = df.loc[countryMask, "daily_vaccinations"].fillna(minVaccinations)
    return df

df = fillMissingVaccinations(df)
print(df)

        country        date  daily_vaccinations  \
0     Argentina  12/29/2020              6483.0
1     Argentina  12/30/2020             15656.0
2     Argentina  12/31/2020             15656.0
3     Argentina    1/1/2021             11070.0
4     Argentina    1/2/2021              8776.0
...         ...         ...                 ...
1497      Wales   1/20/2021             11105.0
1498      Wales   1/21/2021             12318.0
1499      Wales   1/22/2021             15148.0
1500      Wales   1/23/2021             17371.0
1501      Wales   1/24/2021             17063.0

                                 vaccines
0                               Sputnik V
1                               Sputnik V
2                               Sputnik V
3                               Sputnik V
4                               Sputnik V
...                                   ...
1497  Oxford/AstraZeneca, Pfizer/BioNTech
1498  Oxford/AstraZeneca, Pfizer/BioNTech
1499  Oxford/AstraZeneca, Pfizer/BioNTech
1500  Oxford/AstraZeneca, Pfizer/BioNTech
1501  Oxford/AstraZeneca, Pfizer/BioNTech

[1502 rows x 4 columns]

In [21]:
print(df["daily_vaccinations"].head(20))

0      6483.0
1     15656.0
2     15656.0
3     11070.0
4      8776.0
5      7400.0
6      6483.0
7      7984.0
8      8173.0
9      8363.0
10    10519.0
11    11942.0
12    13365.0
13    14788.0
14    14056.0
15    13323.0
16    13320.0
17    13317.0
18    12971.0
19    12624.0
Name: daily_vaccinations, dtype: float64

In [22]:
data["daily_vaccinations"].head(20)

0      6483.0
1     15656.0
2     15656.0
3     11070.0
4      8776.0
5      7400.0
6      6483.0
7      7984.0
8      8173.0
9      8363.0
10    10519.0
11    11942.0
12    13365.0
13    14788.0
14    14056.0
15    13323.0
16    13320.0
17    13317.0
18    12971.0
19    12624.0
Name: daily_vaccinations, dtype: float64

In [23]:
data.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

## Question 6-) Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
## Please  provide the link to your code as answer to this question.

In [25]:
medianDailyVaccinations = df.groupby("country")["daily_vaccinations"].median()

topCountries = medianDailyVaccinations.sort_values(ascending=False).head(3)

print("Top 3 countries with highest median daily vaccinations:")
print(topCountries)

Top 3 countries with highest median daily vaccinations:
country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

## Question7

In [34]:
Totalvacc = df[df['date'] == '1/6/2021']['daily_vaccinations'].sum()

In [35]:
Totalvacc

1485255.0